<div class="nav px-4" data-controller="open-nav-burger">
  <div class="socials">
      <%= link_to "https://github.com/Ziggy1192" do %>
      <%= image_tag "github.png" %>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/dziugasziggy/" do %>
      <%= image_tag "linkedin.png" %>
      <% end %>
    </div>
  <ul class="nav-links" data-open-nav-burger-target="nav" >
    <div class="eff1"><li><%= link_to "Contact me", anchor: "contact-me" %></li></div>
    <div class="eff2"><li><%= link_to "Projects", anchor: "project-page" %></li></div>
    <div class="eff3"><li><%= link_to "Blog", blog_path %></li></div>
  </ul>
  <div class="burger" data-open-nav-burger-target="burger" data-action="click->open-nav-burger#openMenu"  >
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
