<div class="main">
  <div class="welcome-message">
    <h2>Hi, I'm Dziugas Bartkevicius.</h2>
    <h2>Junior web developer</h2>
    <h2>based in London.</h2>
  </div>
  <div class="profile">
    <p>Lifelong tech geek at heart, recently embarked on a journey to start a career in web development.
    Obsessed with trying to simplify tasks and improve solutions to make life easier.
    Have a soft spot for beautiful and functional designs.</p>
    <p>Take a look at my projects down below.</p>
    <div class="socials">
      <%= mail_to "bartkevicius.dziugas@gmail.com" do %>
      <%= image_tag "email.png" %>
      <% end %>
      <%= link_to "https://github.com/Ziggy1192" do %>
      <%= image_tag "github.png" %>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/dziugasziggy/" do %>
      <%= image_tag "linkedin.png" %>
      <% end %>
    </div>
  </div>
  <div class="projects">
    <div class="card">
      <div class="card-img">
      </div>
      <div class="card-info">
      </div>
    </div>
  </div>
</div>
